.navbar-menu {
    display: flex;

    .navbar-item:not(:last-of-type) {
        &::after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 100px;
            background-color: grey;
            transform: translateY(-2.5px);
        }
    }
    .navbar-link {
        display: inline-block;
        padding: 0.75rem;
        color: #71afe5;
        font-weight: 300;
        text-decoration: line-through;
        
        &.active {
            text-decoration: none;
            color: #0078d4;
            font-weight: 600;
        }
    }
}